body, html{ 
  background: #F3EFE0;
  color: #333;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.flex{
  display: flex;
}

.f-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  max-width: 1200px;
  margin: auto;
  background: white;
  padding: 2rem;
  margin-top: 20px;
}

$mainColor: #4CAF50;

.ttl{
  text-align: center;
  color: $mainColor;
  margin-bottom: 50px;
}
.box{
  box-shadow:  0px 0px 10px 2px #ddd;
  padding: 20px;
  margin-top:20px;
  transition: all 0.4s;
  &:hover{
  box-shadow:  0px 0px 7px 1px #ddd;
    transform: translateY(-5px);
  }
  h2{
    margin-bottom: 10px;
  }
}

._a1sd{
  color: $mainColor;
  margin-bottom: 20px;
}

a{
  color: $mainColor;
  text-decoration: underline;
}

@media (max-width: 768px){
  html{
    font-size: 3vw;
  }
}